# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
name: Test Coverage

on:
  push:
    branches: main
    paths-ignore:
      - ".github/**"
      - "inst/setup/Dockerfile"
      - "inst/setup/common-debian.sh"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      BCFTOOLS_VERSION: 1.15.1

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr, local::.
          needs: coverage

      - name: Install BCFtools
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && \
          sudo apt-get install -y --no-install-recommends \
            libxt6 \
            ca-certificates \
            bzip2 \
            wget \
            autoconf \
            automake \
            make \
            cmake \
            libbz2-dev \
            liblzma-dev \
            libjpeg-dev \
            libxml2-dev \
            zlib1g-dev \
            libgdal-dev
          wget -q -P /tmp/ https://github.com/samtools/bcftools/releases/download/${BCFTOOLS_VERSION}/bcftools-${BCFTOOLS_VERSION}.tar.bz2 && \
            tar -C /tmp/ -xjf /tmp/bcftools-${BCFTOOLS_VERSION}.tar.bz2 && \
            cd /tmp/bcftools-${BCFTOOLS_VERSION} && \
            sudo autoreconf -i && \
            sudo ./configure --prefix=/usr && \
            sudo make && \
            sudo make install

      - name: Test coverage
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}
